#langileKutxa {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Lau zutabeak berdineko zabalerekin */
    gap: 20px; /* Kontainerrak arteko tartea */
}

.langilea img {
    max-height: 200px; /* Irudiaren gehienezko altuera */
}

.langileakIkusi {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%; 
    padding: 20px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 90%);
}

.langilea {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 906px){
    #langileKutxa {
        grid-template-columns: auto;
    }
    .langilea img {
        max-height: 100px;
        margin-top: 10px;
    }
    .langilea {
        border-top: 1px solid black;

    }
}